h1 {
  font-size: 2em;

}

.container {
  width: 90%;
  margin: 5% auto;

}

.items {
  display: table;
  text-align: center;

}

.product {
  border: 1px solid black;
  display: table;
  height: 200px;
  width: 200px;
  margin: 2%;
  text-align: center;
  float: left;
  vertical-align: middle;

}

.product p{
  vertical-align: middle;
  display: table-cell;

}

/*Form Styling*/
.wrapper {
  width: 80%;
  margin: 5% auto 0;
  position: relative;
}

.formContainer {
  margin-top: 3%;
  width: 40%;

}

.underline {
  display: block;
  border-bottom: 3px solid black;
  height: 10px;
  width: 100%;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #555555;
  border: none;
  color: white;
  padding: 0.7% 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);

}

.table {
  position: relative;
}

tr {
  display: block;
  margin-bottom: 20px;
}

form {
  overflow: hidden;
}


input {
  position: absolute;
  right: 0;
}


select {
  position: absolute;
  right: 0;
}

/*Message Styling*/
.messageWrapper {
  width: 90%;
  margin: 50px auto;
}

.message {
  font-size: 1.1em;
  color: red;
}
